# RStudio files
.Rproj.user/
.Rproj.user
*.Rmd
*.Rproj

# R session files
.Rhistory
.Rdata

# Solution files
enonces/notshow
enonces/notshow/*
evaluation/notshow
evaluation/notshow/*
data/*.R
data/notshow
data/notshow/*

# Mac .DS_Store
.DS_Store